In [57]:
import pandas as pd

dataset = pd.read_csv("train_trimmed.csv")
display(dataset)

C:\Users\harry\AppData\Local\Temp\ipykernel_27952\630570159.py:3: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("train_trimmed.csv")

,ID,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Num_of_Delayed_Payment,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,23,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",7,4.0,809.98,26.822620,22 Years and 1 Months,49.574949,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,23,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",NaN,4.0,809.98,31.944960,NaN,49.574949,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,-500,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",7,4.0,809.98,28.609352,22 Years and 3 Months,49.574949,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,23,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",4,4.0,809.98,31.377862,22 Years and 4 Months,49.574949,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,23,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",NaN,4.0,809.98,24.797347,22 Years and 5 Months,49.574949,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,25,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",7,3.0,502.38,34.663572,31 Years and 6 Months,35.104023,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,25,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",7,3.0,502.38,40.565631,31 Years and 7 Months,35.104023,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,25,39628.99,3359.415833,4,6,5729,2,"Auto Loan, and Student Loan",6,3.0,502.38,41.255522,31 Years and 8 Months,35.104023,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,25,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",NaN,3.0,502.38,33.638208,31 Years and 9 Months,35.104023,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,25,39628.99_,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",6,3.0,502.38,34.192463,31 Years and 10 Months,35.104023,!@9#%8,393.673696,Poor

In [58]:
dataset = dataset.dropna()

#drop the ID column
dataset = dataset.drop('ID', axis=1)

dataset['Annual_Income'] = dataset['Annual_Income'].str.replace('_', '')
dataset['Num_of_Delayed_Payment'] = dataset['Num_of_Delayed_Payment'].str.replace('_', '')
display(dataset.head())

#Remove the underscores from the age data entries 
dataset['Age'] = dataset['Age'].str.replace('_', '')

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Num_of_Delayed_Payment,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",7,4.0,809.98,26.822620,22 Years and 1 Months,49.574949,High_spent_Small_value_payments,312.49408867943663,Good
6,23,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",8,4.0,809.98,22.537593,22 Years and 7 Months,49.574949,Low_spent_Small_value_payments,244.5653167062043,Good
8,28_,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,4,2.0,605.03,24.464031,26 Years and 7 Months,18.816215,Low_spent_Small_value_payments,470.69062692529184,Standard
9,28,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,1,2.0,605.03,38.550848,26 Years and 8 Months,18.816215,High_spent_Large_value_payments,484.5912142650067,Good
10,28,34847.84,3037.986667,2,1385,6,1,Credit-Builder Loan,-1,2.0,605.03,33.224951,26 Years and 9 Months,18.816215,High_spent_Large_value_payments,466.46647639764313,Standard

In [59]:
dataset['Age'] = dataset['Age'].astype(int)
dataset = dataset[(dataset['Age'] >= 0) & (dataset['Age'] < 100)]

#display the age range 
display(dataset['Age'].min())
display(dataset['Age'].max())

#display the range of the Annual_Income
display(dataset['Annual_Income'].min())
display(dataset['Annual_Income'].max())





#SHOULD PROBABLY PERFORM OUTLIER DETECTION FOR THESE
#display the range of the Num_Bank_Accounts
dataset = dataset[(dataset['Num_Bank_Accounts'] >= 0) & (dataset['Num_Bank_Accounts'] < 10)]
display(dataset['Num_Bank_Accounts'].min())
display(dataset['Num_Bank_Accounts'].max())

# Repeat for Num_Credit_Card
dataset = dataset[(dataset['Num_Credit_Card'] >= 0) & (dataset['Num_Credit_Card'] < 10)]
display(dataset['Num_Credit_Card'].min())
display(dataset['Num_Credit_Card'].max())

#REPEAT FOR Interest_Rate
dataset = dataset[(dataset['Interest_Rate'] >= 0) & (dataset['Interest_Rate'] < 10)]
display(dataset['Interest_Rate'].min())
display(dataset['Interest_Rate'].max())

14

95

'10003.495'

'99995.22'

0

9

0

9

1

9

In [60]:
#TODO One hot encoding for payment behavior. Also, convert crredit history to numerical values

In [61]:
import re

#Removing data with missing values equal to Nan 

#One hot encoding for Type of loan 
# Find all unique regex matches with 'loan'
# loan_matches = list(set(re.findall(r'\w+ Loan', ' '.join(dataset['Type_of_Loan']))))
# print(loan_matches)

#Create a new column for each loan type
# dataset['Auto Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Auto Loan', x) else 0)
# dataset['Credit-Builder Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Credit-Builder Loan', x) else 0)
# dataset['Personal Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Personal Loan', x) else 0)
# dataset['Payday Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Payday Loan', x) else 0)
# dataset['Student Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Student Loan', x) else 0)
# dataset['Morgage Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Morgage Loan', x) else 0)
# dataset['Home Equity Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Home Equity Loan', x) else 0)
# dataset['Consolidation Loan'] = dataset['Type_of_Loan'].apply(lambda x: 1 if re.search(r'Consolidation Loan', x) else 0)

#Drop the original column
# dataset = dataset.drop('Type_of_Loan', axis=1)

display(dataset)

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Num_of_Delayed_Payment,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",7,4.0,809.98,26.822620,22 Years and 1 Months,49.574949,High_spent_Small_value_payments,312.49408867943663,Good
6,23,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",8,4.0,809.98,22.537593,22 Years and 7 Months,49.574949,Low_spent_Small_value_payments,244.5653167062043,Good
8,28,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,4,2.0,605.03,24.464031,26 Years and 7 Months,18.816215,Low_spent_Small_value_payments,470.69062692529184,Standard
9,28,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,1,2.0,605.03,38.550848,26 Years and 8 Months,18.816215,High_spent_Large_value_payments,484.5912142650067,Good
12,28,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,1,2.0,605.03,34.977895,26 Years and 11 Months,18.816215,Low_spent_Small_value_payments,444.8670318506144,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99983,50,37188.1,3097.008333,1,4,5,3,"Home Equity Loan, Mortgage Loan, and Student Loan",9,3.0,620.64,39.300980,30 Years and 4 Months,84.205949,High_spent_Medium_value_payments,432.559318,Good
99994,25,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",6,3.0,502.38,39.323569,31 Years and 5 Months,35.104023,High_spent_Medium_value_payments,410.256158,Poor
99995,25,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",7,3.0,502.38,34.663572,31 Years and 6 Months,35.104023,High_spent_Large_value_payments,479.866228,Poor
99996,25,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",7,3.0,502.38,40.565631,31 Years and 7 Months,35.104023,High_spent_Medium_value_payments,496.65161,Poor
99999,25,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",6,3.0,502.38,34.192463,31 Years and 10 Months,35.104023,!@9#%8,393.673696,Poor

In [68]:
# Perform one hot encoding for Payment_Behavior
dataset = dataset[dataset['Payment_Behaviour'] != '!@9#%8']

payment_encoded = pd.get_dummies(dataset['Payment_Behaviour'])
payment_encoded = payment_encoded.astype(int)
dataset = pd.concat([dataset, payment_encoded], axis=1)
display(dataset)

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Num_of_Delayed_Payment,Num_Credit_Inquiries,...,High_spent_Small_value_payments,Low_spent_Large_value_payments,Low_spent_Medium_value_payments,Low_spent_Small_value_payments,High_spent_Large_value_payments,High_spent_Medium_value_payments,High_spent_Small_value_payments,Low_spent_Large_value_payments,Low_spent_Medium_value_payments,Low_spent_Small_value_payments
0,23,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",7,4.0,...,1,0,0,0,0,0,1,0,0,0
6,23,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",8,4.0,...,0,0,0,1,0,0,0,0,0,1
8,28,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,4,2.0,...,0,0,0,1,0,0,0,0,0,1
9,28,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,1,2.0,...,0,0,0,0,1,0,0,0,0,0
12,28,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,1,2.0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99981,50,37188.1,3097.008333,1,4,5,3,"Home Equity Loan, Mortgage Loan, and Student Loan",12,3.0,...,0,0,0,1,0,0,0,0,0,1
99983,50,37188.1,3097.008333,1,4,5,3,"Home Equity Loan, Mortgage Loan, and Student Loan",9,3.0,...,0,0,0,0,0,1,0,0,0,0
99994,25,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",6,3.0,...,0,0,0,0,0,1,0,0,0,0
99995,25,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",7,3.0,...,0,0,0,0,1,0,0,0,0,0
99996,25,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",7,3.0,...,0,0,0,0,0,1,0,0,0,0

In [ ]:




# #saving the dataset 
# dataset.to_csv("train_trimmed.csv", index=False)